/**
* Global css
* @author Kalsariya Parth
**/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

// @font-face {
//     font-family: "Gotham";
//     src: url("../Fonts/GothamLight.ttf");
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Gotham";
//     src: url("../Fonts/GothamMedium.ttf");
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Gotham";
//     src: url("../Fonts/GothamBold.ttf");
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Gotham";
//     src: url("../Fonts/GothamBook.ttf");
//     font-style: normal;
//     font-weight: 800;
//     font-display: swap;
// }

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
    background-color: #f4f7fe;
    overflow-x: hidden;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    color: #5d5f5e;
}

:focus {
    outline: none;
}

button:focus {
    outline: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 6px;
}

::-webkit-input-placeholder {
    color: #7b838a;
    font-weight: 400;
}

::-moz-placeholder {
    color: #7b838a;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #7b838a;
    font-weight: 400;
}

:-moz-placeholder {
    color: #7b838a;
    font-weight: 400;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
    border-radius: 6px;
}

.white-bx-info {
    background-color: #ffffff;
    border: 1px solid #ededf2;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 6%);
    border-radius: 10px;
    padding: 16px;
    word-break: break-word;
}

.login-main-box {
    max-width: 500px;
    min-width: 500px;
    padding: 35px;
}

.dash-wrapper {
    min-height: 100%;
    width: 100%;
}

.login-bg-image {
    background: url("../Images/loginflow-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.log-box-main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.log-box-main-scroll {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.login-text-top h1 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #333333;
}

.login-text-top p {
    font-size: 14px;
    color: #7b838a;
}

.form-lbl-class {
    display: block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #333333;
}

.style-input-class {
    border: 1px solid rgba(28, 28, 28, 0.1);
    border-radius: 10px;
    height: 50px;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.02em;
}

.style-input-class:focus {
    box-shadow: 0 0 1px rgba(106, 88, 251, 0.3);
    border-color: #6a58fb;
}

.btn-smart-comn {
    color: #fff;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    background: linear-gradient(100.19deg, #6a58fb 6.63%, #4599f4 101.7%);
    border-radius: 6px;
    cursor: pointer;
    line-height: 26px;
}

.btn-smart-comn2 {
    color: #6a58fb !important;
    border: 1px solid #6a58fb;
    outline: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    line-height: 26px;
}

.btn-smart-comn3 {
    color: #eb5757 !important;
    border: 1px solid #eb5757;
    outline: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    line-height: 26px;
}

.form-link-style {
    font-weight: 700;
    font-size: 14px;
    color: #6a58fb;
    cursor: pointer;
}

.eye-pwd {
    align-items: center;
    bottom: 0;
    color: #9ca3af;
    cursor: pointer;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    right: 15px;
    top: 0;
}

.eye-pwd img {
    width: 20px;
    height: 20px;
}

.rcv-code-text {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.otp-custom-info div {
    flex: 1 0;
    align-items: center;
}

.otp-custom-info div .style-input-class {
    margin: 0 7px;
}

.header-fix-top-section {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    height: 75px;
    left: 0;
    margin-left: auto;
    padding: 7px 15px;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s;
    width: calc(100% - 250px);
    z-index: 97;
}

.main-title-dash h1 {
    font-weight: 600;
    font-size: 17px;
    color: #333333;
    text-transform: capitalize;
    margin-bottom: 0;
}

.prf-hdr-top span {
    font-weight: 600;
    font-size: 14px;
    color: #040d21;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prf-hdr-top bdi {
    font-size: 13px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prf-hdr-top img {
    border-radius: 50%;
    object-fit: cover;
    width: 38px;
    height: 38px;
    min-width: 38px;
    background-color: #b9b3f7;
}

.sidebar-main-section {
    background-color: #fff;
    border-right: 1px solid #edf2f7;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    width: 250px;
    z-index: 9;
}

.sidebar-menu-boxes li {
    margin: 7px 0;
}

.sidebar-menu-boxes li a {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    padding: 13px 15px 13px 25px;
    text-transform: capitalize;
    transition: all 0.3s;
    white-space: nowrap;
    position: relative;
}

.sidebar-menu-boxes li a::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 0px 10px 10px 0px;
    width: 5px;
    height: 100%;
}

.sidebar-menu-boxes li a.active::before {
    background: linear-gradient(100.19deg, #6a58fb 6.63%, #4599f4 101.7%);
}

.sidebar-menu-boxes li a svg {
    height: 20px;
    width: 20px;
    min-width: 20px;
    margin-right: 10px;
}

.sidebar-menu-boxes li a.active {
    color: #6a58fb;
}

.sidebar-menu-boxes li a.active svg path {
    fill: #6a58fb;
}

.sidebar-menu-boxes {
    height: calc(100vh - 135px);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-log-fix {
    margin: 10px 0;
}

.sidebar-log-fix button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    padding: 10px 15px;
    text-transform: capitalize;
    transition: all 0.3s;
    white-space: nowrap;
    border-left: 2px solid transparent;
    width: 100%;
}

.sidebar-log-fix button svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.brand-title {
    height: 75px;
    padding: 16px;
    position: relative;
    width: 250px;
    justify-content: center;
}

.brand-title img {
    max-width: 140px;
    cursor: pointer;
}

.brand-title span {
    font-weight: 800;
    font-size: 18px;
    color: #000000;
    padding-left: 10px;
}

.content-main-section {
    backface-visibility: hidden;
    margin-left: 250px;
    position: relative;
    padding: 75px 0 15px 0;
    transition: all 0.3s ease, background 0s;
}

.comn-inr-title {
    padding: 20px 0;
}

.comn-inr-title {
    padding: 20px 0;
}

.comn-inr-title h1 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.01em;
}

.main-title-dash .form-control {
    background-color: rgba(244, 247, 254, 0.5);
    border: 1px solid rgba(108, 106, 129, 0.1);
    border-radius: 6px;
    height: 40px;
    line-height: 26px;
    transition: all 0.3s;
    font-size: 14px;
    color: #6c6a81;
    font-weight: 400;
    padding: 12px;
    padding-left: 40px;
}

.main-title-dash .form-control:focus {
    border-color: #6a58fb;
    box-shadow: 0 3px 10px 0 rgb(34 41 47 / 10%);
}

.main-title-dash img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 12px;
}

.fix-btn-size .btn-smart-comn {
    width: 190px;
    text-align: center;
}

.fix-btn-size .btn-smart-comn2 {
    width: 190px;
    text-align: center;
}

.fix-btn-size .btn-smart-comn3 {
    width: 190px;
    text-align: center;
}

.line-bdr-tb {
    background-color: #6a6e834d;
    border-radius: 12px;
    height: 1px;
    margin: 5px 0 25px 0;
}

.prf-imags-info img {
    border-radius: 75px;
    width: 95px;
    height: 95px;
    min-width: 95px;
    object-fit: cover;
}

.prf-text-info {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #333333;
}

.avatar-file-upload-cust .avatar-upload {
    width: 120px;
    height: 120px;
    min-width: 120px;
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 0;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input + label {
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
}

.tel-input-info-new .react-tel-input .form-control {
    background-color: #ffffff;
    border: 1px solid #ebe9f1;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 5%);
    border-radius: 6px;
    height: 50px;
    line-height: 26px;
    transition: all 0.3s;
    font-size: 14px;
    color: #5e5873;
    font-weight: 400;
    // padding: 12px;
    width: 100%;
}

.tel-input-info-new .react-tel-input .form-control:focus {
    border-color: #6a58fb;
    color: #5e5873;
    box-shadow: 0 3px 10px 0 rgb(34 41 47 / 10%);
}

.tel-input-info-new .react-tel-input .form-control:focus + .flag-dropdown {
    border-color: #6a58fb;
}

.tel-input-info-new .react-tel-input .flag-dropdown {
    border-color: #ebe9f1;
    border-radius: 6px 0 0 6px;
    border-right: 0;
    transition: all 0.3s;
}

.tel-input-info-new .react-tel-input {
    font-family: "Inter", sans-serif;
}

.tel-input-info-new .react-tel-input .selected-flag {
    border-radius: 6px 0 0 6px;
    background-color: #fff;
    transition: all 0.3s;
}

.tel-input-info-new .react-tel-input .flag-dropdown.open .selected-flag {
    border-radius: 6px 0 0 6px;
}

.tel-input-info-new .react-tel-input .flag-dropdown.open {
    border-radius: 6px 0 0 6px;
}

// .cust-drop-down ul li{
//    margin:0 10px;
//     border-bottom: 1px solid rgba(106, 110, 131, .3);
// }

// .cust-drop-down ul li:last-child{
//     margin:0 10px;
//     border-bottom: 1px solid transparent;
//  }

.custom-lbl-part {
    cursor: pointer;
    display: inline-block;
    color: #232222;
    font-size: 16px;
    font-weight: 500;
    padding-left: 25px;
    position: relative;
    user-select: none;
}

.custom-lbl-part input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.custom-checkbox-class {
    background: white;
    border: 1px solid #7a838a4d;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    left: 0;
    margin-bottom: 0 !important;
    padding: 0;
    position: absolute;
    top: 0;
}

.custom-lbl-part .custom-checkbox-class:after {
    border: solid white;
    border-width: 0 2px 2px 0;
    height: 11px;
    left: 6px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 6px;
}

.custom-checkbox-class:after {
    position: absolute;
    content: "";
}

.custom-lbl-part input:checked ~ .custom-checkbox-class {
    background-color: #6a58fb;
    border-color: #6a58fb;
}

.custom-lbl-part input:checked ~ .custom-checkbox-class::after {
    display: block;
}

.custom-design-dropdwon button {
    background-color: #ffffff !important;
    border: 1px solid rgba(108, 106, 129, 0.1) !important;
    border-radius: 10px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #333333 !important;
    width: 180px;
    box-shadow: none !important;
    outline: none;
    justify-content: start;
    padding: 12px;
    cursor: pointer;
}

.custom-design-dropdwon button[aria-expanded="true"] {
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}

.custom-design-dropdwon .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid rgba(108, 106, 129, 0.1);
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    width: 180px;
    padding: 15px;
}

.custom-design-dropdwon .dropdown-toggle::after {
    display: none;
}

.custom-design-dropdwon button svg {
    width: 20px;
    height: 20px;
}

.custom-design-dropdwon button img {
    margin-left: auto;
    transform: rotate(180deg);
    transition: all 0.3s;
}

.custom-design-dropdwon button[aria-expanded="true"] img {
    transform: rotate(0deg);
}

.custom-design-dropdwon .dropdown-item {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #333333;
    background-color: #fff;
    padding: 6px 0;
    transition: all 0.3s;
}

.custom-design-dropdwon .dropdown-item:hover {
    color: #6a58fb;
}

.custom-design-dropdwon .dropdown-item:first-child {
    padding-top: 0;
}

.custom-design-dropdwon .dropdown-item:last-child {
    padding-bottom: 0;
}

.toggl-btn-respo {
    background-color: #f4f7fe;
    border: 0.36px solid rgba(0, 74, 173, 0.3);
    border-radius: 36px;
    width: 40px;
    height: 40px;
    min-width: 40px;
}

.toggl-btn-respo svg {
    width: 13px;
    height: 13px;
}

// -----  dashboard  ------

.dash-top-box {
    background-color: #ffffff;
    border: 1px solid #ededf2;
    box-shadow: 0px 2px 24px rgb(0 0 0 / 6%);
    border-radius: 10px;
    padding: 16px;
    word-break: break-word;
    height: 100%;
}

.dash-top-box.fix-span span {
    width: 44px;
    min-width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.dash-top-box.fix-span span img {
    max-width: 26px;
    max-height: 26px;
    object-fit: contain;
}

.dash-span-1 {
    background: linear-gradient(140.43deg, rgba(12, 170, 65, 0.1) 13.18%, rgba(126, 217, 87, 0.1) 112.52%);
}

.dash-span-2 {
    background-color: rgba(243, 102, 67, 0.1);
}

.dash-span-3 {
    background-color: rgba(255, 159, 67, 0.1);
}

.dash-span-4 {
    background-color: rgba(5, 142, 217, 0.1);
}

.dash-span-5 {
    background-color: rgba(69, 36, 248, 0.1);
}

.dash-span-6 {
    background: linear-gradient(140.43deg, rgba(12, 170, 65, 0.1) 13.18%, rgba(126, 217, 87, 0.1) 112.52%);
}

.dash-top-box p {
    margin: 10px 0 5px 0;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
}

.dash-top-box-info bdi {
    font-weight: 500;
    font-size: 14px;
    color: #7b838a;
    text-transform: capitalize;
}

.dash-part-hdr-top span {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.dash-part-hdr-top a {
    color: #6a58fb;
    font-size: 16px;
    font-weight: 600;
}

.dash-cal {
    position: absolute;
    top: 12px;
    left: 13px;
}

.dash-table table tr td {
    padding: 13px 0;
}

.comn-tab-sec .nav-pills .nav-item:first-child .nav-link {
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    color: #7b838a;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 30px;
    cursor: pointer;
}

.comn-tab-sec .nav-pills .nav-item:last-of-type .nav-link {
    background-color: #fff;
    color: #7b838a;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 30px;
    margin: 0px 2px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.comn-tab-sec .nav-pills .nav-link {
    background-color: #fff;
    color: #7b838a;
    box-shadow: 0px 0px 4px -1px #7b838a;
    font-weight: 500;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
}

.comn-tab-sec .nav-pills .nav-link.active,
.comn-tab-sec .nav-pills .show > .nav-link {
    color: #6a58fb !important;
    border-bottom: 2px solid rgba(106, 88, 251, 1);
    background-color: #fff !important;
}

.comn-tab-sec .nav-pills {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 2px;
}

.comn-tab-sec .nav-pills::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.cust-col-class {
    width: 20%;
}

.post-box-bg {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(166, 172, 190, 0.2);
}

.post-top-img {
    width: 100%;
}

.post-top-img img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.post-box-btm {
    padding: 10px;
}

.post-box-btm p {
    font-weight: 500;
    font-size: 14px;
    color: #eb5757;
}

.post-box-btm span {
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #030303;
}

.post-box-btm bdi {
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    color: rgba(3, 3, 3, 0.3);
}

.cust-main-box {
    background: #ffffff;
    padding: 12px;
    box-shadow: 0px 2px 5px rgba(15, 15, 15, 0.15), 0px 0px 5px rgba(42, 62, 92, 0.08);
    border-radius: 12px;
}

.latest-box-prof img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    object-fit: cover;
}

.latest-box-prof div span {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #231f20;
}

.latest-box-prof div p {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #6a6e83;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.latest-box-prof div p bdi {
    display: inline-flex;
    width: 5px;
    height: 5px;
    margin: 0px 5px;
    border-radius: 100px;
    background: #7b838a;
}

.latest-box-rght-txt p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #7b838a;
    margin-bottom: 10px;
}

.comn-gray-bg {
    background-color: #f5f6f7;
}

.latest-box-rght-txt .latest-box-body span {
    background: linear-gradient(100.19deg, #6a58fb 6.63%, #4599f4 101.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
}

.latest-box-rght-txt .latest-box-ftr {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7b838a;
}

.latest-box-body {
    max-height: 250px;
}

.latest-box-fix-content {
    max-height: 150px;
    overflow-y: scroll;
}

.latest-box-fix-content::-webkit-scrollbar {
    width: 0px;
}

.like-modal-body {
    max-height: 280px;
    overflow-y: scroll;
}

.like-modal-body::-webkit-scrollbar {
    width: 0px;
}


.like-modal-body ul li {
    padding-bottom: 25px;
}

.like-modal-body .top-new-section span {
    color: #a3aed0 !important;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.like-modal-body .top-new-section::before {
    background-color: #a3aed0;
}

.like-modal-body p {
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #5e656a;
}

.like-modal-body p span {
    font-weight: 400;
    font-size: 14px;
    color: #6a58fb;
}

.like-modal-body bdi {
    font-weight: 400;
    font-size: 14px;
    color: #7b838a;
}

.report-date bdi {
    font-weight: 500;
    font-size: 14px;
    color: #eb5757;
}

.news-right span {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.cust-comn-modal-hdr p {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #333333;
    margin-bottom: 0;
}

.cust-comn-modal .modal-content {
    background: #ffffff;
    border-radius: 10px;
}

.modal-header .btn-close {
    opacity: 1;
    padding: 10px 12px;
}

.btn-close:focus {
    box-shadow: 0 0 3px 1px #6a58fb;
    opacity: 1;
}

.cust-repo-post {
    padding-right: 15px;
}

.permission-table table tr,
.permission-table table tbody,
.permission-table table td,
.permission-table table tfoot,
.permission-table table th,
.permission-table table thead,
.payment-table table tr,
.payment-table table tbody,
.payment-table table td,
.payment-table table tfoot,
.payment-table table th,
.payment-table table thead {
    border: 0 !important;
}

.permission-table table {
    --bs-table-striped-bg: #f4f5f9;
}

.permission-table table thead th {
    color: #7b838a;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    background-color: #f4f5f9;
    padding: 10px;
}

.permission-table table thead th:first-child {
    text-align: left;
}

.permission-table table tbody tr td {
    text-align: center;
    white-space: nowrap;
    padding: 10px;
}

.permission-table table tbody tr th {
    color: #333333 !important;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: transparent;
    color: var(--bs-table-striped-color);
}

.set-box-head {
    border-bottom: 1px solid rgba(28, 28, 28, 0.1);
}

.user-info-hdr .user-info {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.user-info-hdr .user-role {
    font-size: 14px;
    color: #7b838a;
    font-weight: 400;
}

.user-info-hdr bdi {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
}

.tbl-custom-info-main {
    border: 1px solid rgba(106, 110, 131, 0.2);
    border-radius: 10px;
}

.tbl-custom-info-main bdi {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #333333;
    padding: 16px;
}

.tbl-custom-info .table tbody th {
    background-color: #f4f5f9;
    padding: 12px 16px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #7b838a;
    box-shadow: none;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    word-break: break-all;
}

.tbl-custom-info .table tbody td {
    white-space: nowrap;
    word-break: break-all;
    padding: 12px 16px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 15px;
    box-shadow: none;
    color: #333333;
    vertical-align: middle;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tbl-custom-info .table tbody tr:nth-child(odd) {
    background-color: #f4f5f9;
}

.info-dtls-text svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.info-dtls-text bdi {
    font-size: 15px;
    color: #7b838a;
}

.info-dtls-text {
    margin-bottom: 10px;
}

.cust-comn-modal .modal-header {
    padding: 20px;
}

.cust-comn-modal .modal-body {
    padding: 20px;
}

.hdr-dtls-page {
    padding: 16px;
    border-bottom: 1px solid rgba(108, 106, 129, 0.1);
    padding: 16px;
    font-weight: 500;
    font-size: 17px;
    color: #333333;
}

.body-dtls-page {
    padding: 16px;
}

.athlit-list-info img {
    height: 50px;
    width: 50px;
    min-width: 50px;
    object-fit: cover;
    object-position: center center;
}

.athlit-list-info bdi {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.athlit-list-info span {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7b838a;
}

.athlit-list-info {
    padding: 10px;
    border: 1px solid rgba(108, 106, 129, 0.1);
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-dtls-text span {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.comn-tab-sec-2 {
    border-bottom: 1px solid rgba(108, 106, 129, 0.1);
}

.comn-tab-sec-2 .nav-pills {
    overflow: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.comn-tab-sec-2 .nav-pills .nav-link {
    background-color: #fff;
    color: #7b838a;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 30px;
    cursor: pointer;
    margin: 0 15px;
}

.comn-tab-sec-2 .nav-pills .nav-link.active,
.comn-tab-sec-2 .nav-pills .show > .nav-link {
    color: #6a58fb !important;
    border-bottom: 2px solid rgba(106, 88, 251, 1);
    background-color: #fff !important;
    border-radius: 0;
}

.comn-tab-sec-2 .nav-pills::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.radial-chart-dash .apexcharts-legend {
    justify-content: center !important;
}

.team-box-class {
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding: 15px;
    height: 100%;
    border: 1px solid rgba(108, 106, 129, 0.1);
    cursor: pointer;
}

.team-box-class img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.team-img-div {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #333333;
    border-radius: 100px;
}

.team-body-txt {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.team-body-txt span {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    display: block;
    margin: 12px 0px 0px;
    color: #333333 !important;
}

.team-body-txt p bdi,
.team-detail-name p bdi {
    display: inline-flex;
    width: 8px;
    height: 8px;
    margin: 0px 3px;
    border-radius: 100px;
    background: #c1c1c1;
}

.team-join-class .team-detail-name p bdi {
    background-color: #333333;
}

.team-body-txt p {
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #c1c1c1;
    margin: 10px 0px;
}

.cust-col-team {
    width: 25%;
}

.btn-gray-info {
    background-color: #7b838a;
    border: 1px solid rgba(108, 106, 129, 0.1);
    color: #fff;
    outline: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    line-height: 26px;
}

.btn-red-info {
    background-color: #eb5757;
    border: 1px solid rgba(108, 106, 129, 0.1);
    color: #fff;
    outline: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    line-height: 26px;
}

.events-box-bdr {
    padding: 10px;
    border: 0.5px solid rgba(108, 106, 129, 0.1);
    border-radius: 10px;
    display: flex;
}

.events-box-bdr-left {
    background-color: #7b838a1a;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.events-box-bdr-left span {
    font-size: 12px;
    text-transform: capitalize;
    color: #7b838a;
}

.events-box-bdr-left bdi {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.events-box-bdr-right {
    font-size: 14px;
    text-align: right;
    text-transform: capitalize;
    color: #7b838a;
    min-width: 35px;
    width: 35px;
}

.events-box-bdr-ctr span {
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    padding-bottom: 2px;
}

.events-box-bdr-ctr bdi {
    font-size: 14px;
    text-transform: capitalize;
    color: #33333366;
}

.newsfeed-box-cols {
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}

.newsfeed-box-cols image {
    border-radius: 10px;
    object-fit: cover;
}

.newsfeed-box-cols video {
    border-radius: 10px;
    object-fit: cover;
}

.newsfeed-box-cols iframe {
    border-radius: 10px;
    object-fit: cover;
}

.detls-users-hdr {
    font-weight: 700;
    font-size: 15px;
    color: #333333;
    padding: 10px 0;
}

.detls-users-cosh {
    padding-bottom: 10px;
}

.detls-users-link {
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #333333;
    font-weight: 700;
    cursor: pointer;
}


.save-player-modal .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
   
  }
  
  .save-player-modal .modal-body {
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    border-radius:0.5rem ;
  }
  
  .save-player-modal .player-left-img img {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }

  
  .save-modal-right {
    border-bottom: 1px solid rgba(123, 131, 138, 0.15);
  }

  .show>.btn-primary.dropdown-toggle,
.table-dropdown-btn:hover {
  color: #fff !important;
  background: transparent !important;
}

.table-dropdown-btn {
  background-color: transparent;
  border: 0;
  color: white;
  padding: 0;
}

.table-dropdown-btn:hover,
.table-dropdown-btn:focus,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle,
.btn-primary.dropdown-toggle:focus:active {
  background-color: white;
  box-shadow: none;
  color: black !important;
  border: 0;
}

.slick-arrow.slick-next {
    right: 22px;
    z-index: 1;
}
.slick-arrow.slick-prev {
    left: 5px;
    z-index: 1;
}
.slick-arrow::before {
    color: white;
    box-shadow: 0px 0px 7px 0px #000;
    background-color: #000;
    opacity: 1;
}


.slick-prev:before, .slick-next:before {
    border-radius: 50%;
}

.play-btn-sli {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-innr-content {
    background: #fff;
    border-radius: 10px;
}

.requester-name bdi {
font-weight: 500;
font-size: 18px;
color: #030303;
}

.requester-name p {
font-weight: 500;
font-size: 14px;
margin-bottom: 0;
color: #7b838a;
}

.req-innr-txt bdi {
    font-weight: 700;
    font-size: 15px;
    color: #030303;
  }
  
  .req-innr-txt p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #7b838a;
  }
  
  .req-activity-div span {
    font-weight: 400;
    font-size: 13px;
    color: #7b838a;
  }
  
  .activity-num {
    font-weight: 500 !important;
    color: #030303 !important;
    font-size: 12px !important;
    background: #f5f6f7;
    border-radius: 23px;
    padding: 3px;
  }
  
  .req-activity-div span bdi {
    font-weight: 500;
    font-size: 13px;
    color: #030303;
  }

  .deal-media-txt span {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
  }
  
  .deal-media-txt bdi {
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(100.19deg, #6a58fb 6.63%, #4599f4 101.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .top-trending-custom-check {
    overflow-x: auto;
    padding-bottom: 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  
  .top-trending-custom-check .cust-trend-chkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: #333333;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 20px;
    margin-right: 10px;
  }
  
  .top-trending-custom-check .cust-chk-bx-soc input:checked~.cust-trend-chkbox {
    color: #FFF;
    border: 1px solid #6a58fb;
    background: linear-gradient(100.19deg, #6A58FB 6.63%, #4599F4 101.7%);
  }
  
  .top-trending-custom-check .cust-trend-chkbox img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .cust-chk-bx-soc {
    display: block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    padding-left: 30px;
  }
  
  .cust-chk-bx-soc input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .cust-chk-bx-soc input:checked~.cust-chkbox-soc {
    background: transparent;
    border-radius: 10px;
    border: 1px solid #6a58fb;
    background: linear-gradient(100.19deg,
        rgba(106, 88, 251, 0.05) 6.63%,
        rgba(69, 153, 244, 0.05) 101.7%);
  }
  
  .event-check-box img {
    filter: grayscale(1);
  }
  
  .cust-chk-bx-soc input:checked~.cust-chkbox-soc img {
    filter: brightness(1);
  }
  
  .cust-chk-bx-soc input:checked~.cust-chkbox-soc bdi,
  .cust-chk-bx-soc input:checked~.hobby-checkbx {
    // background: rgba(100, 97, 250, 0.1);
    -webkit-text-fill-color: #6a58fb;
  }
  
  .cust-chk-bx-soc input:checked~.cust-chkbox-soc:after {
    display: block;
  }
  
  .cust-chkbox-soc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5f6f7;
    border-radius: 10px;
    background-color: transparent;
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }
  
  .cust-soc-icon-main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cust-soc-icon-main bdi {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #333333;
  }
  
  .payment-class bdi {
    font-weight: 400;
    font-size: 14px;
    color: #7b838a;
  }
  
  .deal-budget-txt span {
    font-weight: 500;
    font-size: 13px;
    color: #7B838A;
  }
  
  .deal-budget-txt bdi {
    font-weight: 500;
    font-size: 13px;
    color: #333333;
  }

  .deal-detail img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 8px;
  }

  .req-media-div {
    position: relative;
    width: 16.66%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .req-media-div div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .play-btn-white{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg-black-tranparent::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.4;
    content: "";
    border-radius:15px ;
  }

  .play-btn-white span{
    color: #fff;
    font-size: 25px;
  }

  .business-player-modal .modal-body {
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }

  .slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

  }

  .slide-img {
    width:500px;
    height: 500px;
    padding: 10px;
  }

.business-player-modal .modal-header{
    padding: 0;
    display: unset;
  
}

.business-player-modal .modal-header .btn-close {
    opacity: 1;
    width: 15px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    z-index: 2000;
    right: 0;
}

.business-player-modal .btn-close:focus {
    box-shadow: 0 0 3px 1px #6a58fb;
}

.table-transection-cust {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
  }

  
//------------------------------------------------- media query -------------------------------------------------
@media (max-width: 1599px) {
    .cust-col-team {
        width: 33.33%;
    }
}
@media (max-width: 1399px) {
    .cust-col-class {
        width: 25%;
    }

    .cust-col-team {
        width: 50%;
    }

    .req-media-div {
        width: 25%;
      }
}

@media (max-width: 1199px) {
    .content-main-section {
        margin-left: 0;
    }

    .header-fix-top-section {
        width: 100%;
    }

    .sidebar-main-section {
        height: 100%;
        left: -290px;
        position: fixed;
        top: 0;
        transition: all 0.5s ease-in-out;
        width: 290px;
        z-index: 100;
    }

    .dash-main-class-add .sidebar-main-section {
        left: 0;
    }

    .dash-main-class-add .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99;
        transition: all 0.5s ease-in-out;
    }

    .brand-title {
        width: 290px;
    }

    .req-media-div {
        width: 25%;
      }
}

@media (max-width: 991px) {
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .cust-col-class {
        width: 33%;
    }

    .cust-col-team {
        width: 33.33%;
    }

    
    .req-media-div {
        width: 20%;
      }
}

@media (max-width: 767px) {
    .login-main-box {
        max-width: 100%;
        min-width: 100%;
        padding: 16px;
    }

    .btn-smart-comn {
        font-size: 14px;
        padding: 10px 15px;
    }

    .btn-smart-comn2 {
        font-size: 14px;
        padding: 10px 15px;
    }

    .btn-smart-comn3 {
        font-size: 14px;
        padding: 10px 15px;
    }

    .btn-gray-info {
        font-size: 14px;
        padding: 10px 15px;
    }

    .btn-red-info {
        font-size: 14px;
        padding: 10px 15px;
    }

    .fix-btn-size .btn-smart-comn {
        width: auto;
    }

    .fix-btn-size .btn-smart-comn2 {
        width: auto;
    }

    .fix-btn-size .btn-smart-comn3 {
        width: auto;
    }

    .comn-inr-title h1 {
        font-size: 17px;
    }

    .cust-col-class {
        width: 50%;
    }

    .cust-comn-modal .modal-header {
        padding: 16px;
    }

    .cust-comn-modal .modal-body {
        padding: 16px;
    }

    .cust-col-team {
        width: 50%;
    }

    .comn-tab-sec-2 .nav-pills .nav-link {
        padding: 14px 15px;
        margin: 0;
    }

    .comn-tab-sec-2 .nav-pills .nav-item {
        flex: 1 0;
        text-align: center;
    }

    .athlit-list-info bdi {
        font-size: 14px;
    }
    .req-media-div {
        width: 33.33%;
      }


}

@media (max-width: 575px) {
    .prf-hdr-top div {
        display: none;
    }

    .news-right span {
        font-size: 14px;
    }

    .slide-img {
        min-width:300px;
        min-height: 300px;
      }
    
}

@media (max-width: 420px) {
    .cust-col-class {
        width: 100%;
    }

    .cust-col-team {
        width: 100%;
    }
    .req-media-div {
        width: 50%;
      }

      .slide-img {
        min-width:200px;
        min-height: 200px;
      }
   
}
